.dialogs__item{
	height: 5vh;
	display: flex;
	margin: 1vh 0 0 1vh;
	align-items: center;
}
.dialogs__item:last-child{
	margin-bottom: 1vh;
}
.dialogs__item img{
	width: 4vw;
	height: 100%;
	border-radius: 50%;
	display: inline-block;
}
.dialogs__names{
	grid-area: name;
}
.dialogs__name{
	margin: 0 0 0 2vw;
	font-size: 2.5vh; 
	display: block;
	color: white;
}

.dialogs__active{
	color: rgb(77, 238, 216);
	padding: 4%;
	font-size: 3vh;
	border-radius: 1vw;
	background-color:rgb(192, 141, 215);
}