.App__profile{
	grid-area: profile;
background-color: #45696a;
}
.ava{
	color: rgb(247, 151, 151);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	margin: 1vw 0 1vw 1vw;
}

.item{
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	margin: 0 0 1vw 1vw;
}